body {
     background: #C2DED1;
     margin: 0;
}
 .paragraphText {
     margin-top: 100px;
     color: #354259;
     max-width: 50vh;
     margin: 10px;
     font-family: monospace;
     padding: 5px;
}
 .title {
     margin-top: 100px;
     color: #354259;
     font-family: monospace;
     padding: 5px;
}
 .openingParagraph {
     display: flex;
     min-width: 100vh;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     position: relative;
}

.indexClosingParagraph {
  display: flex;
  min-width: 100vh;
  flex-direction: column;
  align-items: flex-end;
  position: relative;

  background: #CDC2AE;
}

.contactInfo {
  display: flex;
  min-width: 100vh;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: #CDC2AE;
}

.contactClosingParagraph {
  display: flex;
  min-width: 100vh;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.important {
  font-weight: bold;
  font-size: 1.2em;
}
.navBar {
    color: #354259;
    background: #ECE5C7;
    font-family: monospace;
    font-size: 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav {
  float: right;
}

.logo {
  max-height: 10vh;
  aspect-ratio: 1;
  float: left;
  padding: 10px 20px;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  margin: 0;
  padding-right: 20px;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 35px;

  position: relative;
}

nav a {
  color: #354259;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
}

nav a:hover {
  color: ivory;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #354259;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.name {
  color: #354259;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;

  max-height: 10vh;
  float: left;
  padding-top: 10px;
}

.navBar .active::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #354259;

  position: absolute;
  top: 0;
  width: 100%;

}
